<h1 style="margin-top:100px;">売り上げ入力</h1>

<%if params[:latitude].present? && params[:longitude].present?%>

<%= form_tag(earning_earn_path(id:current_user.id), method: :post) do%>
<p>売り上げ</p>
<%= number_field_tag :revenue ,class:"form-control"%> 円 <br><br>
<!-- <p>場所</p>
<%= text_field_tag :location%> -->
<%= hidden_field_tag :latitude,@lat %>
<%= hidden_field_tag :longitude,@lon %>
<%= submit_tag "決定" ,class:"btn btn-dark attendance_btn",:id => "submit_btn",:disabled => "true"%>
<%end%>
<%else%>
<p id="text-button" class="btn btn-success">現在地取得</p>
<%end%>

<script>
document.getElementById("revenue").addEventListener('keyup',function(){
  if (document.getElementById("revenue").value > 0) {
    document.getElementById("submit_btn").disabled = false;
  } else {
    document.getElementById("submit_btn").disabled = true;
  }
});
</script>
<script>
document.getElementById("text-button").onclick = function() {
  //ユーザーの現在の位置情報を取得
  navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
  /***** ユーザーの現在の位置情報を取得 *****/
  function successCallback(position) {
    //データを変数にして整理（position.coords.latitude/longitudeが座標）
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    //座標のデータをクエリパラメータとし、座標データを渡したいページに遷移させる
    //Javascriptで文字列の中に変数を入れたいときは、バッククオートで囲む
    window.location.href = `/earning/index/<%=@user.id%>?latitude=${lat}&longitude=${lng}`
  }

  /***** 位置情報が取得できない場合 *****/
  function errorCallback(error) {
    var err_msg = "";
    switch(error.code)
    {
      case 1:
        err_msg = "位置情報の利用が許可されていません";
        break;
      case 2:
        err_msg = "デバイスの位置が判定できません";
        break;
      case 3:
        err_msg = "タイムアウトしました";
        break;
    }
    document.getElementById("show_result").innerHTML = err_msg;
    //デバッグ用→　document.getElementById("show_result").innerHTML = error.message;
  }
}
</script>
