<h1 style="margin-top:100px;">設定</h1>

<%= form_for(@cost, url: cost_edit_path, html: {method: 'PATCH'}) do |f| %>
<%= f.hidden_field :id, :value => @cost.id %>
  <label class="control-label" for="">日付</label>
  <p><%=@earning.date.year%>年<%=@earning.date.month%>月<%=@earning.date.day%>日</p>
  <label class="control-label" for="">交通費</label>
  <%= f.number_field :travel_cost, class: 'form-control'%>
  <label class="control-label" for="">宿泊費</label>
  <%= f.number_field :accommodation, class: 'form-control'%>
  <label class="control-label" for="">仕入れ金額</label>
  <%= f.number_field :buying_price, class: 'form-control'%>
  <label class="control-label" for="">試食用カップ</label>
  <%= f.number_field :for_tasting, class: 'form-control'%>
  <label class="control-label" for="">備品等</label>
  <%= f.number_field :fixtures, class: 'form-control'%>
  <label class="control-label" for="">その他</label>
  <%= f.number_field :others, class: 'form-control'%>
  <%= f.submit '編集', class: 'btn btn-success' %>
<% end %>
