<h1 style="margin-top:100px;"><%=@employee.username%>さん<%=%>のまとめ</h1>

<%= form_tag(admin_search_month_path(id:@employee.id), method: :post) do%>
<%= number_field_tag :year,@year%>年
<%= number_field_tag :month,@month%>月
<%= submit_tag "検索" %>
<%end%>

<table class="table table-striped" style="margin-top:50px;">
  <tbody>
    <tr>
      <th scope="row">勤務時間合計</th>
      <td><%=sum_working_hour(@attendances)%></td>
    </tr>
    <tr>
      <th scope="row">売上合計</th>
      <td><%=sum_earning(@earnings)%>円</td>
    </tr>
    <tr>
      <th scope="row">費用合計</th>
      <td><%=sum_cost(@earnings)%>円</td>
    </tr>
    <tr>
      <th scope="row">利益</th>
      <td><%=sum_earning(@earnings)-sum_cost(@earnings)%>円</td>
    </tr>
  </tbody>
</table>
<%= link_to "勤怠管理",admin_attendance_path(id:@employee.id),class:"btn btn-secondary btn-sm"%>
<%= link_to "売上管理",admin_earning_path(id:@employee.id),class:"btn btn-secondary btn-sm"%>
