<h1 style="margin-top:100px;">ホーム</h1>
<%= form_tag(home_search_month_path(id:@user.id), method: :post) do%>
<%= number_field_tag :year,@year%>年
<%= number_field_tag :month,@month%>月
<%= submit_tag "検索" %>
<%end%>

<table class="table table-striped" style="margin-top:50px;">
  <tbody>
    <tr>
      <th scope="row">勤務時間合計</th>
      <td><%=sum_working_hour(@attendances)%></td>
    </tr>
    <tr>
      <th scope="row">売上合計</th>
      <td><%=sum_earning(@earnings)%>円</td>
    </tr>
    <tr>
      <th scope="row">費用合計</th>
      <td><%=sum_cost(@earnings)%>円</td>
    </tr>
    <tr>
      <th scope="row">利益</th>
      <td><%=sum_earning(@earnings)-sum_cost(@earnings)%>円</td>
    </tr>
  </tbody>
</table>

<h2>勤務詳細</h2>
<div class="row">
  <% @attendances.each do |attendance| %>
  <div class="col-sm-12  col-md-6">
    <div class="card bg-light mb-3">
      <div class="card-header"><%=attendance.in_time.try(:strftime, "%Y年%-m月%-d日(#{%w(日 月 火 水 木 金 土)[attendance.in_time.wday]})")%></div>
      <div class="card-body">

        <div class="row attendance" style="margin-bottom:30px;">
          <div class="col-sm-12 col-md-6 attendance-border">
            <div class="attendance_title">出勤</div>
            <div class="attendance_time">
              <%=attendance.in_time.try(:strftime, "%H時%M分%S秒")%>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 attendance-border">
            <div class="attendance_title">退勤</div>
            <div class="attendance_time">
              <%=attendance.out_time.try(:strftime, "%H時%M分%S秒")%>
            </div>
          </div>
        </div>
        <div style="text-align:center;">
          出勤時間　<%=working_hour(attendance.in_time,attendance.out_time)%>
        </div>
      </div>
    </div>
  </div>
  <% end %>

</div>

<h2>売上詳細</h2>
<div class="row">
  <% @earnings.each do |earning| %>
  <div class="col-sm-12  col-md-6">
    <div class="card bg-light mb-3">
      <div class="card-header"><%=earning.date.try(:strftime, "%Y年%-m月%-d日(#{%w(日 月 火 水 木 金 土)[earning.date.wday]})")%></div>
      <div class="card-body">
        <table class="table table-striped" style="margin-top:50px;">
          <tbody>
            <tr>
              <th scope="row">場所</th>
              <td><%=earning.address%></td>
            </tr>
            <tr>
              <th scope="row">売上</th>
              <td><%=earning.revenue%>円</td>
            </tr>
            <tr>
              <th scope="row">費用</th>
              <td><%=earning.revenue%>円</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>
</div>
