<h1 style="margin-top:100px;"><%=@user.username%>さんのホーム</h1>
<%= form_tag(home_search_month_path(id:@user.id), method: :post) do%>
<%= number_field_tag :year,@year%>年
<%= number_field_tag :month,@month%>月
<%= submit_tag "検索" %>
<%end%>
<%= link_to "CSV", home_index_path(format: :csv,id:@user.id,year:@year,month:@month,earnings:@earnings), class: "btn btn-primary" %>

<table class="table table-striped" style="margin-top:50px;">
  <tbody>
    <tr>
      <th scope="row">勤務時間合計</th>
      <td><%=sum_working_hour(@attendances)%></td>
    </tr>
    <tr>
      <th scope="row">月間勤務予定</th>
      <%if Monthly.find_by(user_id:@user.id,year:@year,month:@month) then%>
        <td><%=Monthly.find_by(user_id:@user.id,year:@year,month:@month).attendance_days%>日</td>
      <%else%>
        <td>月間目標を入力してください。</td>
      <%end%>
    </tr>
    <tr>
      <th scope="row">売上合計</th>
      <td><%=sum_earning(monthly(@user,@year,@month))%>円</td>
    </tr>
    <tr>
      <th scope="row">月間売上目標</th>
      <%if Monthly.find_by(user_id:@user.id,year:@year,month:@month) then%>
        <td><%=Monthly.find_by(user_id:@user.id,year:@year,month:@month).target_monthly%>円</td>
      <%else%>
        <td>月間目標を入力してください。</td>
      <%end%>
    </tr>
    <tr>
      <th scope="row">月間売上目標との差</th>
      <%if Monthly.find_by(user_id:@user.id,year:@year,month:@month) then%>
        <%if sum_earning(monthly(@user,@year,@month))-Monthly.find_by(user_id:@user.id,year:@year,month:@month).target_monthly == 0%>
          <td>0円</td>
        <%elsif sum_earning(monthly(@user,@year,@month))-Monthly.find_by(user_id:@user.id,year:@year,month:@month).target_monthly > 0%>
          <td style="color:#88c736">+<%=sum_earning(monthly(@user,@year,@month))-Monthly.find_by(user_id:@user.id,year:@year,month:@month).target_monthly%>円</td>
        <%else%>
          <td style="color:#ed4434"><%=sum_earning(monthly(@user,@year,@month))-Monthly.find_by(user_id:@user.id,year:@year,month:@month).target_monthly%>円</td>
        <%end%>
      <%else%>
        <td>月間目標を入力してください。</td>
      <%end%>
    </tr>
    <tr>
      <th scope="row">費用合計</th>
      <td style="color:#ed4434">-<%=sum_cost(monthly(@user,@year,@month))%>円</td>
    </tr>
    <tr>
      <th scope="row">利益</th>
      <td><%=sum_profit(monthly(@user,@year,@month))%>円</td>
    </tr>
  </tbody>
</table>

<h2>勤務詳細</h2>
<div class="row">
  <% @attendances.each do |attendance| %>
  <div class="col-sm-12  col-md-6">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <%=attendance.in_time.try(:strftime, "%Y年%-m月%-d日(#{%w(日 月 火 水 木 金 土)[attendance.in_time.wday]})")%> <br>
        <%=attendance.address%>
      </div>
      <div class="card-body">

        <div class="row attendance" style="margin-bottom:30px;">
          <div class="col-sm-12 col-md-6 attendance-border">
            <div class="attendance_title">出勤</div>
            <div class="attendance_time">
              <%=attendance.in_time.try(:strftime, "%H時%M分%S秒")%>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 attendance-border">
            <div class="attendance_title">退勤</div>
            <div class="attendance_time">
              <%=attendance.out_time.try(:strftime, "%H時%M分%S秒")%>
            </div>
          </div>
        </div>
        <div style="text-align:center;">
          出勤時間　<%=working_hour(attendance.in_time,attendance.out_time)%>
        </div>
        <%= button_to "編集",attendance_setting_path(id:attendance.id), method: :get,class:"btn btn-success"  %>
      </div>
    </div>
  </div>
  <% end %>

</div>

<h2>売上詳細</h2>

<table class="table table-striped table-bordered"style="text-align:center;">
    <thead>
        <tr>
            <th>日付</th>
            <th>目標売上</th>
            <th>売上金額</th>
            <th>目標との差</th>
            <th>費用</th>
            <th>利益</th>
        </tr>
    </thead>
    <tbody>
      <%for i in 21..last_day(@year,before_month(@month)) do%>
        <tr>
          <%if daily_earning(@user,@earnings,@year,before_month(@month),i)%>
            <th><%= link_to "#{before_month(@month)}月#{i}日", earning_show_path(daily_earning(@user,@earnings,@year,before_month(@month),i).id)%></th>
          <%else%>
            <th><%="#{before_month(@month)}月#{i}"%>日</th>
          <%end%>
            <td><%=target(daily_earning(@user,@earnings,@year,before_month(@month),i))%>円</td>
            <td><%=revenue(daily_earning(@user,@earnings,@year,before_month(@month),i))%>円</td>
            <%if achievement(daily_earning(@user,@earnings,@year,before_month(@month),i)) == 0 then%>
              <td><%=achievement(daily_earning(@user,@earnings,@year,before_month(@month),i))%>円</td>
            <%elsif achievement(daily_earning(@user,@earnings,@year,before_month(@month),i)) > 0%>
              <td style="color:#88c736">+<%=achievement(daily_earning(@user,@earnings,@year,before_month(@month),i))%>円</td>
            <%else%>
              <td style="color:#ed4434"><%=achievement(daily_earning(@user,@earnings,@year,before_month(@month),i))%>円</td>
            <%end%>

            <%if cost(daily_earning(@user,@earnings,@year,before_month(@month),i)) == 0%>
              <td>0円</td>
            <%else%>
              <td style="color:#ed4434">-<%=cost(daily_earning(@user,@earnings,@year,before_month(@month),i))%>円</td>
            <%end%>

            <%if profit(daily_earning(@user,@earnings,@year,before_month(@month),i)) == 0 then%>
              <td>0円</td>
            <%elsif profit(daily_earning(@user,@earnings,@year,before_month(@month),i)) > 0%>
              <td style="color:#88c736">+<%=profit(daily_earning(@user,@earnings,@year,before_month(@month),i))%>円</td>
            <%else%>
              <td style="color:#ed4434"><%=profit(daily_earning(@user,@earnings,@year,before_month(@month),i))%>円</td>
            <%end%>

            <%if daily_earning(@user,@earnings,@year,before_month(@month),i)%>
              <td><%= button_to "編集",earning_setting_path(id:daily_earning(@user,@earnings,@year,before_month(@month),i).id), method: :get,class:"btn btn-success"  %></td>
            <%else%>
              <td><%= button_to "売上登録",earning_index_path(id:@user.id), method: :get,class:"btn btn-primary", params:{date:Date.new(@year,@month,i)}  %></td>
            <%end%>
        </tr>
      <%end%>
      <%for i in 1..20 do%>
        <tr>
          <%if daily_earning(@user,@earnings,@year,@month,i)%>
            <th><%= link_to "#{@month}月#{i}日", earning_show_path(daily_earning(@user,@earnings,@year,@month,i).id)%></th>
          <%else%>
            <th><%="#{@month}月#{i}"%>日</th>
          <%end%>
            <td><%=target(daily_earning(@user,@earnings,@year,@month,i))%>円</td>
            <td><%=revenue(daily_earning(@user,@earnings,@year,@month,i))%>円</td>
            <%if achievement(daily_earning(@user,@earnings,@year,@month,i)) == 0 then%>
              <td><%=achievement(daily_earning(@user,@earnings,@year,@month,i))%>円</td>
            <%elsif achievement(daily_earning(@user,@earnings,@year,@month,i)) > 0%>
              <td style="color:#88c736">+<%=achievement(daily_earning(@user,@earnings,@year,@month,i))%>円</td>
            <%else%>
              <td style="color:#ed4434"><%=achievement(daily_earning(@user,@earnings,@year,@month,i))%>円</td>
            <%end%>

            <%if cost(daily_earning(@user,@earnings,@year,@month,i)) == 0%>
              <td>0円</td>
            <%else%>
              <td style="color:#ed4434">-<%=cost(daily_earning(@user,@earnings,@year,@month,i))%>円</td>
            <%end%>

            <%if profit(daily_earning(@user,@earnings,@year,@month,i)) == 0 then%>
              <td>0円</td>
            <%elsif profit(daily_earning(@user,@earnings,@year,@month,i)) > 0%>
              <td style="color:#88c736">+<%=profit(daily_earning(@user,@earnings,@year,@month,i))%>円</td>
            <%else%>
              <td style="color:#ed4434"><%=profit(daily_earning(@user,@earnings,@year,@month,i))%>円</td>
            <%end%>

            <%if daily_earning(@user,@earnings,@year,@month,i)%>
              <td><%= button_to "編集",earning_setting_path(id:daily_earning(@user,@earnings,@year,@month,i).id), method: :get,class:"btn btn-success"  %></td>
            <%else%>
              <td><%= button_to "売上登録",earning_index_path(id:@user.id), method: :get,class:"btn btn-primary", params:{date:Date.new(@year,@month,i)}  %></td>
            <%end%>
        </tr>
      <%end%>
    </tbody>
</table>
