<h1 style="margin-top:100px;">ホーム</h1>
<%= form_tag(home_search_month_path(id:@user.id), method: :post) do%>
<%= number_field_tag :year,@year%>年
<%= number_field_tag :month,@month%>月
<%= submit_tag "検索" %>
<%end%>

<table class="table table-striped" style="margin-top:50px;">
  <tbody>
    <tr>
      <th scope="row">勤務時間合計</th>
      <td><%=sum_working_hour(@attendances)%></td>
    </tr>
    <tr>
      <th scope="row">売上合計</th>
      <td><%=sum_earning(@earnings)%>円</td>
    </tr>
    <tr>
      <th scope="row">費用合計</th>
      <td><%=sum_cost(@earnings)%>円</td>
    </tr>
    <tr>
      <th scope="row">利益</th>
      <td><%=sum_earning(@earnings)-sum_cost(@earnings)%>円</td>
    </tr>
  </tbody>
</table>

<h2>勤務詳細</h2>
<div class="row">
  <% @attendances.each do |attendance| %>
  <div class="col-sm-12  col-md-6">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <%=attendance.in_time.try(:strftime, "%Y年%-m月%-d日(#{%w(日 月 火 水 木 金 土)[attendance.in_time.wday]})")%> <br>
        <%=attendance.address%>
      </div>
      <div class="card-body">

        <div class="row attendance" style="margin-bottom:30px;">
          <div class="col-sm-12 col-md-6 attendance-border">
            <div class="attendance_title">出勤</div>
            <div class="attendance_time">
              <%=attendance.in_time.try(:strftime, "%H時%M分%S秒")%>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 attendance-border">
            <div class="attendance_title">退勤</div>
            <div class="attendance_time">
              <%=attendance.out_time.try(:strftime, "%H時%M分%S秒")%>
            </div>
          </div>
        </div>
        <div style="text-align:center;">
          出勤時間　<%=working_hour(attendance.in_time,attendance.out_time)%>
        </div>
      </div>
    </div>
  </div>
  <% end %>

</div>

<h2>売上詳細</h2>

<table class="table table-striped table-bordered"style="text-align:center;">
    <thead>
        <tr>
            <th>日付</th>
            <th>目標売上</th>
            <th>売上金額</th>
            <th>目標との差</th>
            <th>費用</th>
        </tr>
    </thead>
    <tbody>
      <%for i in 1..31 do%>
        <tr>
            <th><%=i%>日</th>
            <td><%=@target_month[i].to_i%>円</td>
            <td><%=@revenue_month[i].to_i%>円</td>
            <%if @revenue_month[i].to_i-@target_month[i].to_i == 0 then%>
              <td><%=@revenue_month[i].to_i-@target_month[i].to_i%>円</td>
            <%elsif @revenue_month[i].to_i-@target_month[i].to_i > 0%>
              <td style="color:#88c736">+<%=@revenue_month[i].to_i-@target_month[i].to_i%>円</td>
            <%else%>
              <td style="color:#ed4434"><%=@revenue_month[i].to_i-@target_month[i].to_i%>円</td>
            <%end%>

            <td><%=@cost_month[i].to_i%></td>
        </tr>
      <%end%>
    </tbody>
</table>
