<h1 style="margin-top:100px;"><%=@user.username%>さんのレポート</h1>
<%= form_tag(report_search_year_path(id:@user.id), method: :post) do%>
<%= number_field_tag :year,@year%>年
<%= submit_tag "検索" %>
<%end%>

<table class="table table-striped table-bordered"style="text-align:center;">
    <thead>
        <tr>
            <th>月</th>
            <th>目標売上</th>
            <th>売上金額</th>
            <th>目標との差</th>
            <th>費用</th>
        </tr>
    </thead>
    <tbody>
      <%for i in 1..12 do%>
        <tr>
            <th><%=i%>月</th>

            <td><%=show_target_month(@user,@year,i)%>円</td>
            <td><%=show_revenue_month(@user,@year,i)%>円</td>
            <%if show_revenue_month(@user,@year,i)-show_target_month(@user,@year,i) == 0 then%>
              <td><%=show_revenue_month(@user,@year,i)-show_target_month(@user,@year,i)%>円</td>
            <%elsif show_revenue_month(@user,@year,i)-show_target_month(@user,@year,i) > 0%>
              <td style="color:#88c736">+<%=show_revenue_month(@user,@year,i)-show_target_month(@user,@year,i)%>円</td>
            <%else%>
              <td style="color:#ed4434"><%=show_revenue_month(@user,@year,i)-show_target_month(@user,@year,i)%>円</td>
            <%end%>

            <td><%=show_cost_month(@user,@year,i)%>円</td>
        </tr>
      <%end%>
    </tbody>
</table>
